body {
    user-select: none;
    font-size: 3vw;
}

#top {
    text-align: center;
    font-size: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#max_player {
    background-color: #B0C4DEAA;
    padding: 1vw;
    font-size: 3vw;
}

table {
    width: 100%;
    background-color: black;
}

td {
    background-color: white;
    padding: 1vw;
}

.td_cnt2_0 {
    width: 10%;
    text-align: center;
    font-size: 3vw;
}

.td_cnt2_2 {
    width: 20%;
    text-align: center;
    font-size: 3vw;
}

#player_count {
    margin-bottom: 10vh;
}

#bottom {
    border-top: 0.0125vw solid black;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    text-align: center;
}